body {
    font-family: Arial, sans-serif;
    background-color: #1d4d9f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.keyword1,.keyword2,.keyword3,.keyword4
{
    width: 60px; /* Tamaño deseado para los campos de entrada */
    background-color: #FFDE55;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.var-name1,.var-name2,.var-name3,.var-name4{
    width: 80px; /* Tamaño deseado para los campos de entrada */
    background-color: #FFB1E5;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.value1,.value2,.value3,.value4 {
    width: 30px; /* Tamaño deseado para los campos de entrada */
    background-color: #A3A3A3;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.container {
    background-color: #003366;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header {
    background-color: #00a2ff;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.instructions {
    font-size: 18px;
    margin-bottom: 20px;
}

.keyword {
    background-color: #00a2ff;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
	 margin-left: 40px;
}

.variables {
    flex: 1;
    margin-right: 20px;
}

.variable {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.variable .var-name1,.variable .var-name2,.variable .var-name3,.variable .var-name4  {
    margin: 0 10px;
}


.check1,.check2, .check3, .check4 {
    margin-left: 10px;
    font-size: 20px;
}

.arrows {
    display: flex;
    margin-left: 15px;
}

.arrow {
    background-color: white;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 3px;
}

.arrow.active {
            background-color: red; /* Cambia el color a rojo cuando está activo */
        }

.arrow img {
    width: 15px; /* Tamaño deseado para las imágenes de los botones */
    height: auto; /* Altura automática para mantener la proporción */
}


/* Estilos para botones de flecha deshabilitados */
.arrow[disabled] {
    opacity: 0.1; /* Aumentar la opacidad cuando el botón está deshabilitado */
    cursor: not-allowed; /* Cambiar el cursor a 'no permitido' */
    background-color: #CCCCCC; /* Cambiar el color de fondo del botón deshabilitado */
}

/* Estilos para el texto dentro de los botones de flecha deshabilitados */
.arrow[disabled] img {
    filter: grayscale(100%); /* Convertir la imagen en escala de grises */

}
.close-btn {
    margin-right: 10px; /* Ajusta el valor según sea necesario */
    top: 110px;
    right: 250px;
    background-color: #ff5c5c;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text {
    font-weight: bold;
}
.izq-btn {
   
    top: 130px;
    right: 250px;
    background-color: #42B76D;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.izq-btn img {
    width: 20px; /* Tamaño deseado para las imágenes de los botones */
    height: auto; /* Altura automática para mantener la proporción */
	
}
.subt span {
        margin-right: 20px; /* Ajusta el valor según sea necesario */
		font-weight: bold;
		
    }
.subt{
	margin-left: 29px;
	}	
.grid {
    margin-right: 90px; /* Ajusta el margen superior según sea necesario */
}
