
body {
    font-family: Arial, sans-serif;
    background-color: #1d4d9f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    background-color: #003366;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    box-shadow: 0 0 10px #FFFFFF;
}

.header {
    background-color: #00a2ff;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}


.content,.content2,.content3,.content4,.content0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
	
}

.left-column, .right-column {
    width: 45%;
}

.left-column {
    text-align: center;
}

.box-image {
    width: 100%;
    height: auto;
	border-radius: 10px;
}

.right-column {
    text-align: left;
}

.question {
    margin-top: 20px;
}

.question label {
    display: block;
    margin: 10px 0;
}



.close-btn {
    margin-right: 10px;
    top: 110px;
    right: 250px;
    background-color: #ff5c5c;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-weight: bold;
}

.subt span,.subt1 span,.subt3 span {
    margin-right: 20px;
    font-weight: bold;
}

.subt {
	/*background-color: #E0AD0B;*/
    margin-left: 29px;
	
}
.subt1 {
	/*background-color: white;*/
    
	margin-left: 29px;
	color:#E0AD0B;
	/*color:black;*/
}
.subt,.subt1{
	font-size: 12px;
}


.subt3 {
	background-color: red;
	display: flex;
    
   align-items: center;
	margin-left: 29px;
	color:white;
	font-size: 16px;
	/*color:black;*/
}


input[type="radio"] {
    margin-left: 5px;
}

	
	.keyword {
    background-color: red;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
	color:white;
}
.respuesta {
font-size: 12px;

}
.texto1
{
    width: 60px; /* Tamaño deseado para los campos de entrada */
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Espacia los botones */
    width: 100%;
    margin-top: 20px;
}

.izq-btn, .der-btn {
    background-color: #00a2ff;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.izq-btn img, .der-btn img {
    width: 20px; /* Tamaño deseado para las imágenes de los botones */
    height: auto; /* Altura automática para mantener la proporción */
}

.der-btn {
    margin-left: auto; /* Asegura que el botón derecho esté separado */
}

.der-btn:disabled {
    background-color: lightgray; /* Color cuando está desactivado */
    color: gray; /* Color del texto cuando está desactivado */
    opacity: 0.1; /* Opacidad cuando está desactivado */
}

.der-btn:not(:disabled) {
    background-color: #00a2ff; /* Color original cuando está activado */
    color: white; /* Color del texto cuando está activado */
    opacity: 1; /* Opacidad cuando está activado */
}
.option-container {
    background-color: white; /* Fondo blanco */
    padding: 10px; /* Espacio alrededor del contenido */
	color:black;
	font-size: 14px;
	 border-radius: 15px;
}

.button-container button.clicked {
    background-color: white; /* Cambiar color al hacer clic */
}

.close-btn.clicked{
	background-color: white;
    color: black;
    
}
