body {
    font-family: Arial, sans-serif;
    background-color: #1d4d9f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    background-color: #003366;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header {
    background-color: #00a2ff;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories, .variables {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.category, .variable {
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}

.entero,.decimal,.caracter,.palabra {
    background-color: #ff4500;
}


.mi_variable_entero, .mi_variable_decimal, .mi_variable_caracter, .mi_variable_palabra {
    background-color: #FFD33C;
    color: #090909;
}

.input {
    width: 20%;
    height: 40px;
    background-color: #d3d3d3;
    border-radius: 10px;
}

.equal {
    font-size: 1.5em;
    margin: 0 10px;
}

.value {
    background-color: #000000;
    color: #00ffff;
    padding: 5px 10px;
    border-radius: 10px;
    min-width: 50px;
    text-align: center;
}

#feedback {
    margin-top: 20px;
    font-size: 2em;
}

.assignments {
    margin-top: 20px;
}

.assignment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin: 10px 200px;
}

.assignment {
    position: relative;
}

.assignment span {
    right: 0;
    top: 50%;
    font-size: 1.5em;
    color: red;
}

.k1, .k2, .k3, .k4 {
    width: 60px; /* Tamaño deseado para los campos de entrada */
    background-color: #FF7A00;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.v1, .v2, .v3, .v4 {
    width: 200px; /* Tamaño deseado para los campos de entrada */
    background-color: #FFD33C;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.subt span {
    margin-right: 20px; /* Ajusta el valor según sea necesario */
    font-weight: bold;
}

.subt {
    margin-left: 100px;
}

.close-btn {
    margin-right: 10px; /* Ajusta el valor según sea necesario */
    top: 110px;
    right: 250px;
    background-color: #ff5c5c;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Espacia los botones */
    width: 100%;
    margin-top: 20px;
}

.izq-btn, .der-btn {
    background-color: #42B76D;
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.izq-btn img, .der-btn img {
    width: 20px; /* Tamaño deseado para las imágenes de los botones */
    height: auto; /* Altura automática para mantener la proporción */
}

.der-btn {
    margin-left: auto; /* Asegura que el botón derecho esté separado */
}
